! Font
URxvt.font: xft:IosevkaTerm Nerd Font Mono:size=11

! URxvt Functions
URxvt.iso14755: false
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.perl-ext-common: default,resize-font
URxvt.keysym.C-plus: resize-font:bigger
URxvt.keysym.C-minus: resize-font:smaller
URxvt.keysym.C-equal: resize-font:reset
URxvt.keysym.C-question: resize-font:show

! Scrollbar
URxvt.scrollBar_right: true
URxvt.scrollBar: false

! Geometry
URxvt.geometry: 100x35

! Colors
! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff
