configuration {
	drun-display-format: "{icon} {name}";
	font: "JetBrainsMono Nerd Font Regular 12";
	modi: "drun,window";
	show-icons: true;
	icon-theme: "Papirus";
	disable-history: true;
}

@theme "~/.config/rofi/theme.rasi"
