* {
	margin: 0;
	padding: 0;
	spacing: 5px;
	white: #ffffff;
	clear: rgba(0, 0, 0, 0%);
	transparency50: rgba(0, 0, 0, 0.5);
	transparency70: rgba(0, 0, 0, 0.3);
	transparency90: rgba(0, 0, 0, 0.1);
}

window {
	background-color: @transparency50;
	border: 2px;
	border-color: @transparency50;
	border-radius: 2px;
	padding: 5px;
	location: center;
	width: 35%;
	children: [inputbar, message, listview];
}

inputbar {
	background-color: @transparency70;
	border-radius: 2px;
	padding: 5px 8px;
	spacing: 0px;
	children: [prompt, entry];
}

prompt {
	background-color: @clear;
	text-color: @white;
	padding: 0px 5px 0px 0px;
	margin: 0px;
	border: 0px;
}

entry {
	background-color: @clear;
	text-color: @white;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

listview {
	background-color: @clear;
	border: 0px;
	padding: 0px;
	scrollbar: false;
	lines: 8;
	children: [element];
}

element {
	background-color: @clear;
	text-color: @white;
	padding: 5px 8px;
}

element selected {
	background-color: @transparency70;
	text-color: @white;
	border-radius: 8px;
}

element-text {
	background-color: @clear;
	text-color: inherit;
}

element-text selected {
	background-color: @clear;
	text-color: @white;
}

element-icon {
	background-color: @clear;
	size: 1.0em;
	padding: 5px 5px;
}

element-icon selected {
	background-color: @clear;
	text-color: @white;
}

scrollbar {
	width: 0px;
	handle-width: 0px;
	padding: 0px;
	background-color: transparent;
}

message {
	margin: 0;
	expand: true;
	background-color: @transparency50;
	children: [textbox];
}

textbox {
	expand: true;
	padding: 5px 8px;
	background-color: @transparency50;
	text-color: @white;
}

error-message {
	expand: true;
	text-color: @white;
}
